<!DOCTYPE html>
<html>
	<head>
{% include head.html %}
	</head>
	<body>
		<div class="container">
{% include header.html %}
			<div class="slideshow-container">
				<div class="slide fade">
					<img src="/microdrum/assets/img/Box_v1_1.jpg" style="width:100%"></div>
				<div class="slide fade">
					<img src="/microdrum/assets/img/microDrum_v0_8.jpg" style="width:100%"></div>
				<div class="slide fade">
					<img src="/microdrum/assets/img/nanoDrum_v1_0-1.jpg" style="width:100%"></div>
				<div class="slide fade">
					<img src="/microdrum/assets/img/nanoDrum_v1_0-2.jpg" style="width:100%">
				</div>
			</div><br>
			<a href="#content" class="sr-only">Skip to content</a>
			<div class="row" id="content">
				<div class="col-md-9">
					<article>
					<div class="jumbotron">
{{ content }}
					</div>
					</article>
				</div>
				<div class="col-md-3">
					<aside>
{% include aside.html %}
					</aside>
				</div>
			</div>
{% include footer.html %}
		</div>
{% include scripts.html %}
{% if site.disqus_shortname %}
		<script type="text/javascript">
			var disqus_shortname = "{{ site.disqus_shortname }}";
			(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = '//' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
		</script>
{% endif %}
	</body>
</html>
